In [1]:
import seaborn as sns
import pandas as pd

# Input files

## Total number of reads per sample --reads

In [3]:
reads=pd.read_table("../example_input_files/example__reads.tsv",sep='\t')
reads.head()

       Sample      Reads
0  Meg19_1012  866464934
1     AB_3033  612704160
2    Meg19_02  597321106
3        WB_1  650012664
4    Meg22_24  734754594

### Mapping file scaffold bin and sample --mapping

In [6]:
df=pd.read_table("../example_input_files/example__mapping.tsv",sep='\t')
df.head()

    Original_Contig_Name             Bin   Sample
0     AB_1215_scaffold_0           NoBin  AB_1215
1     AB_1215_scaffold_1           NoBin  AB_1215
2    AB_1215_scaffold_10           NoBin  AB_1215
3   AB_1215_scaffold_100           NoBin  AB_1215
4  AB_1215_scaffold_1000  AB_1215_Bin_45  AB_1215

###  Depth file --depth

In [10]:
df3=pd.read_table("../example_input_files/example__depth.tsv",sep='\t')
df3.head()
#This file was created by transforming the depth file to long format 
# See creating depth file notebook

  Original_Contig_Name  contigLen Sample_Depth      Depth
0     AB_03_scaffold_0      98402      AB_3033   0.409498
1   AB_1215_scaffold_0     219188      AB_3033   2.527020
2   AB_3033_scaffold_0     609513      AB_3033  27.471000
3     AB_69_scaffold_0     263371      AB_3033   0.417896
4  Meg19_02_scaffold_0     130674      AB_3033   0.219010

### Bin size --size (in bp)

In [12]:
df4=pd.read_table("../example_input_files/example__size.tsv",sep='\t')
df4.head()

#Place all your fna Bin files  in a single directory and run 

#for i in *.fna ; do grep -v ">" $i | tr -d '\n' | wc -c > $i.totalbp.txt ; done
#grep -v ">" find all non header lines (i.e. without ">")
#tr -d '\n' delete all newlines
#wc -c count all characters
#grep -vI “\x00” -- *.txt | sed 's/:/\t/g' > genomesize.tab
#sed -i 's/.fna.totalbp.txt//g' genomesize.tab

             Bin     Size
0  AB_03_Bin_100  3283359
1  AB_03_Bin_103  2070056
2  AB_03_Bin_104   953128
3  AB_03_Bin_105  2160170
4  AB_03_Bin_108  4352590

# Merging files

In [203]:
merged1=pd.merge(df,reads[['Sample', 'Reads']], on='Sample')
merged1.head()

    Original_Contig_Name             Bin   Sample      Reads
0     AB_1215_scaffold_0           NoBin  AB_1215  792150312
1     AB_1215_scaffold_1           NoBin  AB_1215  792150312
2    AB_1215_scaffold_10           NoBin  AB_1215  792150312
3   AB_1215_scaffold_100           NoBin  AB_1215  792150312
4  AB_1215_scaffold_1000  AB_1215_Bin_45  AB_1215  792150312

In [204]:
merged2=pd.merge(merged1,df4[['Bin', 'Size']], on='Bin')
merged2.head()

      Original_Contig_Name              Bin   Sample      Reads     Size
0    AB_1215_scaffold_1000   AB_1215_Bin_45  AB_1215  792150312  3073618
1  AB_1215_scaffold_100532   AB_1215_Bin_45  AB_1215  792150312  3073618
2  AB_1215_scaffold_100002  AB_1215_Bin_149  AB_1215  792150312  1649522
3  AB_1215_scaffold_100064  AB_1215_Bin_149  AB_1215  792150312  1649522
4  AB_1215_scaffold_100499  AB_1215_Bin_149  AB_1215  792150312  1649522

In [205]:
merged3=pd.merge(merged2,df3[['Original_Contig_Name', 'contigLen', 'Sample_Depth', 'Depth']],on='Original_Contig_Name')

In [206]:
merged3.head()

,Original_Contig_Name,Bin,Sample,Reads,Size,contigLen,Sample_Depth,Depth
0,AB_1215_scaffold_1000,AB_1215_Bin_45,AB_1215,792150312,3073618,28016,AB_3033,0.289170
1,AB_1215_scaffold_100002,AB_1215_Bin_149,AB_1215,792150312,1649522,2338,AB_3033,5.299360
2,AB_1215_scaffold_100003,AB_1215_Bin_125,AB_1215,792150312,1845597,2338,AB_3033,1.976690
3,AB_1215_scaffold_100004,AB_1215_Bin_136,AB_1215,792150312,2703728,2338,AB_3033,0.934644
4,AB_1215_scaffold_100006,AB_1215_Bin_148,AB_1215,792150312,1133644,2338,AB_3033,2534.130000

# Rename to do a final merge

In [207]:
df=merged3.rename(columns={"Sample": "Sampling_Site","Sample_Depth": "Sample",'Reads':'Total_Reads'})

In [208]:
df.head()

,Original_Contig_Name,Bin,Sampling_Site,Total_Reads,Size,contigLen,Sample,Depth
0,AB_1215_scaffold_1000,AB_1215_Bin_45,AB_1215,792150312,3073618,28016,AB_3033,0.289170
1,AB_1215_scaffold_100002,AB_1215_Bin_149,AB_1215,792150312,1649522,2338,AB_3033,5.299360
2,AB_1215_scaffold_100003,AB_1215_Bin_125,AB_1215,792150312,1845597,2338,AB_3033,1.976690
3,AB_1215_scaffold_100004,AB_1215_Bin_136,AB_1215,792150312,2703728,2338,AB_3033,0.934644
4,AB_1215_scaffold_100006,AB_1215_Bin_148,AB_1215,792150312,1133644,2338,AB_3033,2534.130000

# Merge

In [209]:
df=pd.merge(df,reads[['Sample', 'Reads']],on='Sample')

In [210]:
df.head()

,Original_Contig_Name,Bin,Sampling_Site,Total_Reads,Size,contigLen,Sample,Depth,Reads
0,AB_1215_scaffold_1000,AB_1215_Bin_45,AB_1215,792150312,3073618,28016,AB_3033,0.289170,612704160
1,AB_1215_scaffold_100002,AB_1215_Bin_149,AB_1215,792150312,1649522,2338,AB_3033,5.299360,612704160
2,AB_1215_scaffold_100003,AB_1215_Bin_125,AB_1215,792150312,1845597,2338,AB_3033,1.976690,612704160
3,AB_1215_scaffold_100004,AB_1215_Bin_136,AB_1215,792150312,2703728,2338,AB_3033,0.934644,612704160
4,AB_1215_scaffold_100006,AB_1215_Bin_148,AB_1215,792150312,1133644,2338,AB_3033,2534.130000,612704160

# Compute abundance (scaffold lengh * depth/genome size)

In [211]:
df['cov']=(df['contigLen'] *df['Depth'])/df['contigLen']

In [212]:
df.head()

,Original_Contig_Name,Bin,Sampling_Site,Total_Reads,Size,contigLen,Sample,Depth,Reads,cov
0,AB_1215_scaffold_1000,AB_1215_Bin_45,AB_1215,792150312,3073618,28016,AB_3033,0.289170,612704160,0.289170
1,AB_1215_scaffold_100002,AB_1215_Bin_149,AB_1215,792150312,1649522,2338,AB_3033,5.299360,612704160,5.299360
2,AB_1215_scaffold_100003,AB_1215_Bin_125,AB_1215,792150312,1845597,2338,AB_3033,1.976690,612704160,1.976690
3,AB_1215_scaffold_100004,AB_1215_Bin_136,AB_1215,792150312,2703728,2338,AB_3033,0.934644,612704160,0.934644
4,AB_1215_scaffold_100006,AB_1215_Bin_148,AB_1215,792150312,1133644,2338,AB_3033,2534.130000,612704160,2534.130000

In [168]:
df['Sum_cov'] = df['cov'].groupby(merged3['Bin']).transform('sum')

In [169]:
df['NormalizedCov'] = df['Sum_cov']/df['Size']

In [170]:
df.head()

,Original_Contig_Name,Bin,Sampling_Site,Total_Reads,Size,contigLen,Sample,Depth,Reads,cov,Sum_cov,NormalizedCov
0,AB_1215_scaffold_1000,AB_1215_Bin_45,AB_1215,792150312,3073618,28016,AB_3033,0.289170,612704160,0.289170,641613.958801,0.208749
1,AB_1215_scaffold_100532,AB_1215_Bin_45,AB_1215,792150312,3073618,4109,AB_3033,0.348825,612704160,0.348825,641613.958801,0.208749
2,AB_1215_scaffold_102287,AB_1215_Bin_45,AB_1215,792150312,3073618,2730,AB_3033,0.284109,612704160,0.284109,641613.958801,0.208749
3,AB_1215_scaffold_102793,AB_1215_Bin_45,AB_1215,792150312,3073618,2303,AB_3033,0.147701,612704160,0.147701,641613.958801,0.208749
4,AB_1215_scaffold_102855,AB_1215_Bin_45,AB_1215,792150312,3073618,4360,AB_3033,0.257957,612704160,0.257957,641613.958801,0.208749

In [171]:
df['RelativeAbundance'] = df['NormalizedCov']/df['Reads']

df.head()

,Original_Contig_Name,Bin,Sampling_Site,Total_Reads,Size,contigLen,Sample,Depth,Reads,cov,Sum_cov,NormalizedCov,RelativeAbundance
0,AB_1215_scaffold_1000,AB_1215_Bin_45,AB_1215,792150312,3073618,28016,AB_3033,0.289170,612704160,0.289170,641613.958801,0.208749,3.407007e-10
1,AB_1215_scaffold_100532,AB_1215_Bin_45,AB_1215,792150312,3073618,4109,AB_3033,0.348825,612704160,0.348825,641613.958801,0.208749,3.407007e-10
2,AB_1215_scaffold_102287,AB_1215_Bin_45,AB_1215,792150312,3073618,2730,AB_3033,0.284109,612704160,0.284109,641613.958801,0.208749,3.407007e-10
3,AB_1215_scaffold_102793,AB_1215_Bin_45,AB_1215,792150312,3073618,2303,AB_3033,0.147701,612704160,0.147701,641613.958801,0.208749,3.407007e-10
4,AB_1215_scaffold_102855,AB_1215_Bin_45,AB_1215,792150312,3073618,4360,AB_3033,0.257957,612704160,0.257957,641613.958801,0.208749,3.407007e-10

In [172]:
df['RelativeAbundanceReadable'] = df['RelativeAbundance']*100000000

In [173]:
df.head()

,Original_Contig_Name,Bin,Sampling_Site,Total_Reads,Size,contigLen,Sample,Depth,Reads,cov,Sum_cov,NormalizedCov,RelativeAbundance,RelativeAbundanceReadable
0,AB_1215_scaffold_1000,AB_1215_Bin_45,AB_1215,792150312,3073618,28016,AB_3033,0.289170,612704160,0.289170,641613.958801,0.208749,3.407007e-10,0.03407
1,AB_1215_scaffold_100532,AB_1215_Bin_45,AB_1215,792150312,3073618,4109,AB_3033,0.348825,612704160,0.348825,641613.958801,0.208749,3.407007e-10,0.03407
2,AB_1215_scaffold_102287,AB_1215_Bin_45,AB_1215,792150312,3073618,2730,AB_3033,0.284109,612704160,0.284109,641613.958801,0.208749,3.407007e-10,0.03407
3,AB_1215_scaffold_102793,AB_1215_Bin_45,AB_1215,792150312,3073618,2303,AB_3033,0.147701,612704160,0.147701,641613.958801,0.208749,3.407007e-10,0.03407
4,AB_1215_scaffold_102855,AB_1215_Bin_45,AB_1215,792150312,3073618,4360,AB_3033,0.257957,612704160,0.257957,641613.958801,0.208749,3.407007e-10,0.03407

In [174]:
df.columns

Index(['Original_Contig_Name', 'Bin', 'Sampling_Site', 'Total_Reads', 'Size',
       'contigLen', 'Sample', 'Depth', 'Reads', 'cov', 'Sum_cov',
       'NormalizedCov', 'RelativeAbundance', 'RelativeAbundanceReadable'],
      dtype='object')

In [176]:
finaldf=df[['Bin', 'Sample',
       'NormalizedCov', 'RelativeAbundance', 'RelativeAbundanceReadable']]

In [177]:
finaldf.head()

,Bin,Sample,NormalizedCov,RelativeAbundance,RelativeAbundanceReadable
0,AB_1215_Bin_45,AB_3033,0.208749,3.407007e-10,0.03407
1,AB_1215_Bin_45,AB_3033,0.208749,3.407007e-10,0.03407
2,AB_1215_Bin_45,AB_3033,0.208749,3.407007e-10,0.03407
3,AB_1215_Bin_45,AB_3033,0.208749,3.407007e-10,0.03407
4,AB_1215_Bin_45,AB_3033,0.208749,3.407007e-10,0.03407

In [178]:
finaldf=finaldf.drop_duplicates()

In [179]:
finaldf.head()

,Bin,Sample,NormalizedCov,RelativeAbundance,RelativeAbundanceReadable
15522219,Meg22_810_Bin_261,WB_1,0.003697,5.688147e-12,0.000569
15522252,Meg22_810_Bin_226,WB_1,0.003227,4.965001e-12,0.000497
15522358,Meg22_810_Bin_106,WB_1,0.002204,3.391120e-12,0.000339
15522402,Meg22_810_Bin_152,WB_1,0.003200,4.923570e-12,0.000492
15522467,Meg22_810_Bin_188,WB_1,0.002533,3.896934e-12,0.000390